<div *ngIf="label" class="station-search-label mb-1">{{ label }}</div>
<div class="input-group mb-3">
  <ng-container *ngIf="selectedStation; else searchPrompt">
    <div class="selected-station-box d-flex align-items-center w-100 p-2">
      <div class="flex-grow-1">
        <div class="selected-station-en">{{selectedStation.name}}</div>
        <div class="selected-station-ta">{{selectedStation.tamil}}</div>
      </div>
      <button type="button" class="btn btn-link p-0 ms-2" (click)="clearSelectedStation()" aria-label="Clear">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
  </ng-container>
  <ng-template #searchPrompt>
    <button class="form-control text-start bg-white" (click)="openPopup()">
      <i class="bi bi-search me-2"></i> Tap/Click to search
    </button>
  </ng-template>
</div>

<!-- Popup Modal -->
<div class="modal fade" [class.show]="showPopup" [ngClass]="{'d-block': showPopup}" tabindex="-1" style="background:rgba(0,0,0,0.3);" *ngIf="showPopup">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-top">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select Station</h5>
        <button type="button" class="btn-close" (click)="closePopup()"></button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control mb-2" placeholder="Search stations..." [(ngModel)]="searchText" (input)="filterStations()">
        <ul class="list-group station-list fixed-height-list">
          <li *ngFor="let station of filteredStations" class="list-group-item list-group-item-action" (click)="selectStation(station)">
            <div>{{station.name}}</div>
            <div class="station-tamil">{{station.tamil}}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
